[project]
name = "mallagent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "anthropic>=0.75.0",
    "dotenv>=0.9.9",
    "google-genai>=1.55.0",
    "mcp[api]>=1.24.0",
    "rich>=14.2.0",
]
